<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
	<meta charset="UTF-8">
	<title>PIXIV@robot</title>
	<link rel="stylesheet" href="stylesheets/style.css">
<style>
.login-input{width:350px;height:100px;margin:0 auto;}
.login-btn{width:350px;height:50px;margin:10px auto;}
.login-btn input{width:170px;height:50px;}
</style>
</head>
<body>
	<form method="post" id="login" class="login">
		<div class="login-logo">
		</div>
		<div class="login-input">
			<input type="text" name="user" placeholder="username">
			<input type="password" name="pass" placeholder="password">
		</div>
		<div class="login-btn">
			<input id="login-btn" type="submit" value="登陆">
			<input type="reset" value="重置">
		</div>
	</form>
	<div id="bg" class="background">
		
	</div>
</body>
</html>