<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="stylesheets/thumbnail.css">
    <title>PIXIV预览图</title>
</head>
<body>
    <div class="clearfix">
        <button class="select">&nbsp;</button>
        <h1>预览图（未加载请按F5刷新）</h1>
        <button id="send" class="send" data-counter="0">&#10004;</button>
    </div>

    <div style="text-align:center;clear:both">
    </div>

    <ul>
    <% picList.forEach(function (pic) { %>
    	<li>
    		<img data-id="<%= pic.id %>" src="<%= path + pic.src.split('/').slice(-1) %>" alt="">
    	</li>
    <% }) %>
    </ul>

<script src="javascripts/jquery-2.1.4.min.js"></script>
<script src="javascripts/thumbnail.js"></script>
<script>
$(function () {
    $('#send').click(function (ev) { 
        var btn = $(this);
        btn.attr("disabled","disabled");
        btn.css("backgroundColor","#aaa");

        var picList = [];
        $('.selected img').each(function () {
            var img = $(this);
            picList.push({
                id : img.attr('data-id')
            });
        });
        json = JSON.stringify(picList)

        $.ajax({
            url : '/thumbnail',
            type : 'POST',
            data : { "picList" : JSON.stringify(picList) },
            dataType:'json',
            success : function (obj) {
                setTimeout(function () {
                    btn.removeAttr("disabled");
                    btn.css("backgroundColor","#00c09e");
                    console.log("successfully");
                },5000);
            }
        });
    });
});
</script>
</body>
</html>